.Argomento1{
    text-align: justify;
    position: absolute;
    left: 25.5em;
    top: 5em;
    width: 600px;
}

.Argomento2{
    text-align: justify;
    position: absolute;
    right: 27em;
    top: 27em;
    width: 600px;
}

.Argomento3{
    text-align: justify;
    position: absolute;
    left: 26em;
    top: 57em;
}

.Argomento3 a{
    text-decoration: none;
    color: brown;
}

h1 {
    color: rgb(78, 17, 17);
    background-color: rgb(167, 157, 157);
    margin: -1em;
    margin-top: -7px;
    position: absolute;
    width: 100vW;
    font-size: 26px;
  }

.Colonna3{
    position: absolute;
    top: 1px;
    left:-1px;
    width: 400px;
    height: 1050px;
    border-right: 5px solid black;
}

.Colonna4{
    position: absolute;
    top: 1px;
    right:-1px;
    width: 400px;
    height: 1050px;
    border-left: 5px solid black;
}

.Freccia1{
    position: absolute;
    top: 19em;
    left: 35em;
    width: 250px;
    transform: rotate(20deg);
}

.Freccia2{
    position: absolute;
    top: 42em;
    left: 65em;
    width: 250px;
    transform: rotate(-35deg);
}

.Fabbrica2{
    position: absolute;
    left: 63.5em;
    top: 4em;
    background-color: black;
    width: 600px;
    height: 300px;
    border-radius: 10%;
    
}

.Fabbrica2 img{
    position: absolute;
    border-radius: 10%;
}

.Grafico2{
    position: absolute;
    left: 20em ;
    top: 30ems;
}

.Locomotiva{
    position: absolute;
    right: 67.5em;
    top: 34em;
    background-color: black;
    width: 700px;
    height: 366px;
    border-radius: 10%;
}

.Locomotiva img{
    position: absolute;
    left: 20em;
    width: 400px;
    border-radius: 10%;
}

.Elettricità{
    position: absolute;
    left: 77.5em;
    top: 48em;
    width: 300px;
    height: 170px;
    background-color: black;
    border-radius: 10%;
}


.Elettricità img{
    position: absolute;
    width: 250px;
    height: 170px;
    right: 5em;
    border-radius: 10%;
}

.Link2 a{
    position: absolute;
    left: 25.1em;
    top: 3em;
    color: rgb(199, 188, 30);
    border: 2px solid rgb(0, 0, 0);
}










